@if (_src == null)
{
    <MudSkeleton> </MudSkeleton>
}
else if(_src == string.Empty)
{
    <div class="h-100 d-flex flex-column justify-center align-center">
        <MudText Typo="Typo.body2" Class="@Class">No Location Data</MudText>

    </div>
}
else
{
    <iframe style="border:0; border-radius: 16px;"
            loading="lazy"
            allowfullscreen
            referrerpolicy="no-referrer-when-downgrade"
            class="@Class"
            src="@_src">
    </iframe>
}
@code {
    [Parameter, EditorRequired]
    public MapLocation_Location Loc { get; set; }
    MapLocation_Location? _lastLoc;

    [Parameter]
    public string? Class { get; set; }

    private string? _src;

    public class MapLocation_Location
    {
        public double Lat { get; set; }
        public double Lng { get; set; }

        public MapLocation_Location(double lat, double lng)
        {
            Lat = lat;
            Lng = lng;
        }

        public bool HasLocationData()
        {
            return Lat != 0 && Lng != 0;
        }

        public static MapLocation_Location NoDataObject() => new MapLocation_Location(0, 0);
    }

    protected override void OnParametersSet()
    {
        if (_lastLoc != Loc)
        {
            _lastLoc = Loc;
            _src = Loc.HasLocationData() ? $"https://www.google.com/maps?q={Loc.Lat},{Loc.Lng}&hl=en&z=14&output=embed" : string.Empty;
        }
    }
}
