@page "/devices"
@layout MainLayout
@using DeviceTracker.Web.Client.Components.Layout
@rendermode InteractiveAuto
<h3>ManageDevices</h3>
<button @onclick="@Submit">Test</button>
@code {
    private void Submit()
    {
        // This is a placeholder for the submit logic
        Console.WriteLine("Submit button clicked!");
    }
}
